///--------------header strat-----------------///
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;


///--------------pc header start-----------------///





///--------------sp header end-----------------///